<#@ template language="C#" debug="false" hostspecific="true" #>
<#@ output extension=".cs" #>
<#@ assembly name="System" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Data.Entity" #>
<#@ assembly name="EnvDTE" #>
<#@ import namespace="EnvDTE" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Reflection" #>
<#@ include file="$(SolutionDir)T4\Utilities-Classes.tt" #>
<#@ include file="$(SolutionDir)T4\Utilities-Project.tt" #>
<#@ include file="$(SolutionDir)T4\Utilities.tt" #>
<#@ include file="$(SolutionDir)T4\Templates-Mapper.tt" #>
<#
    // var nsRequests = "Pdbc.Shopping.Api.Mappings.Requests";
    // var nsEntities = "Pdbc.Shopping.Api.Mappings.Entities";

    // Setup variables for using throughout the script.
    var cqrsProject = GetProjectByName("Pdbc.Shopping.Core");
    var cqrsClasses = GetCqrsClasses(cqrsProject); 

    var apiContractProject = GetProjectByName("Pdbc.Shopping.Api.Contracts");
    var apiContractClasses = GetApiContractClasses(apiContractProject); 

    GenerateRequestCqrsMappings(apiContractClasses, cqrsClasses);
#>
